/bin/
/.classpath
/.project

/.PatternRuntimeModule.java._trace
/.PatternRuntimeModule.xtendbin
/.PatternStandaloneSetup.java._trace
/.PatternStandaloneSetup.xtendbin
/.PatternRuntimeModule.java
/.PatternStandaloneSetup.java

/.PatternValidator.java._trace
/.PatternValidator.xtendbin
/.PatternValidator.java

/.PatternGenerator.java._trace
/.PatternGenerator.xtendbin
/.PatternGenerator.java

/.PatternScopeProvider.java._trace
/.PatternScopeProvider.xtendbin
/.PatternScopeProvider.java


/.PatternValidator.java._trace
/.PatternValidator.xtendbin
/.PatternValidator.java